body {
    font-family: 'Hind', sans-serif ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

#form{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1.5em;
}

#form div {
    padding: 1em;
}
#image, #allData{
    border-right: 2px solid rgb(77, 75, 75);
}
.submit{
    height: fit-content;
    width: fit-content;
    margin: 1em;
    padding: 0.5em;
    font-family: 'Hind', sans-serif ;
    color: white;
    background-color: rgb(31, 108, 223);
    border-radius: 0.5em;
    cursor: pointer;
}

tr:first-child {font-weight: bolder;}
th, td {
    padding: 10px;
    text-align: left;
  }

tr:nth-child(even) {background-color: #f2f2f2;}

#query{
    font-size: 0.8em;
    font-style: italic;
}